:host {
  position: absolute;
  left: 16px;
  top: 0;
  display: flex;
  height: 64px;
  align-items: center;
}

.time {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  margin-left: 16px;
}

@media screen
and (max-width: 480px)
and (orientation: portrait) {
  :host {
    left: 8px;
    height: 56px;
  }

  .time {
    font-size: 16px;
  }
}
