<h1 mat-dialog-title i18n>יצירת אתגר</h1>
<div mat-dialog-content>
  <ol>
    <li i18n>
      להזזת האפיקומן יש ללחוץ על הנקודה בתמונה בה תרצו להחביא את האפיקומן.
    </li>
    <li i18n>
      לשינוי גודל האפיקומן יש ללחוץ על כפתורי הפלוס והמינוס בראש העמוד.
    </li>
    <li i18n>
      לסיום יש ללחוץ על כפתור
      <strong>סיימתי</strong>,
      ואז ניתן לשתף את האתגר.
    </li>
  </ol>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" i18n>אפשר להתחיל</button>
</div>
