<div class="cards">
  <mat-card class="challenge-card"
            *ngFor="let challenge of privateChallenges$ | async"
            (click)="openChallenge(challenge)">
    <mat-card-header>
      <mat-card-title i18n>
        אתגר שאני הכנתי
      </mat-card-title>
      <mat-card-subtitle i18n>האתגר הזה מוצג רק לך. הכנסו בכדי לשתף.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         src="https://storage.googleapis.com/find-the-afikoman.appspot.com/images/{{challenge.uid}}/thumb@${{challenge.id}}.jpg"
         [alt]="challenge.description">
  </mat-card>

  <mat-card class="challenge-card"
            *ngFor="let challenge of challenges$ | async"
            (click)="openChallenge(challenge)">
    <mat-card-header>
      <mat-card-title>
        <span [ngSwitch]="challenge.level">
          <span *ngSwitchCase="1" i18n>קל</span>
          <span *ngSwitchCase="2" i18n>בינוני</span>
          <span *ngSwitchCase="3" i18n>קשה</span>
        </span>
      </mat-card-title>
      <mat-card-subtitle>{{ challenge.description }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         src="https://storage.googleapis.com/find-the-afikoman.appspot.com/images/{{challenge.uid}}/thumb@${{challenge.id}}.jpg"
         [alt]="challenge.description">
  </mat-card>
  <mat-card class="challenge-card"
            (click)="createChallenge()">
    <mat-card-header>
      <mat-card-title i18n>
        אתגרים נוספים יעלו במהלך חול המועד
      </mat-card-title>
      <mat-card-subtitle i18n>ועוד כמה הפתעות חדשות...</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="challenge-card"
            (click)="createChallenge()">
    <mat-card-header>
      <mat-card-title i18n>
        צרו אתגר משלכם!
      </mat-card-title>
      <mat-card-subtitle i18n>בחרו או צלמו תמונה והחביאו בה את האפיקומן</mat-card-subtitle>
    </mat-card-header>
    <p style="text-align: left;">
      <button mat-flat-button color="accent" i18n>קדימה!</button>
    </p>
  </mat-card>
</div>

<footer>
  <p i18n>
    חומם בושל והוגש על ידי
    <a href="https://idancohen.com" target="_blank">עידן כהן</a>
  </p>
</footer>

<div class="utility-buttons">
  <button mat-mini-fab i18n-matTooltip matTooltip="צרו אתגר משלכם" (click)="createChallenge()">
    <mat-icon i18n>add</mat-icon>
  </button>
</div>
