<div class="cards">
  <mat-card class="challenge-card"
            *ngFor="let challenge of challenges$ | async"
            (click)="openChallenge(challenge)">
    <mat-card-header>
      <mat-card-title>
        <span [ngSwitch]="challenge.level">
          <span *ngSwitchCase="1">קל</span>
          <span *ngSwitchCase="2">בינוני</span>
          <span *ngSwitchCase="3">קשה</span>
        </span>
      </mat-card-title>
      <mat-card-subtitle>{{ challenge.description }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         src="https://storage.googleapis.com/find-the-afikoman.appspot.com/images/{{challenge.uid}}/thumb@${{challenge.id}}.jpg"
         [alt]="challenge.description">
  </mat-card>
</div>

<h1 style="padding-right: 30px;">
  התמונות שלי:
</h1>

<div class="cards" style="padding: 30px;">
  <button mat-raised-button color="primary">העלאת תמונה</button>
</div>

