.challenge-card {
  flex: 0 1 400px;
  margin: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  margin-top: 20px;
  font-size: 90%;
  color: #979EA0;
  text-align: center;

  a {
    color: #c2cbce !important;
  }
}

.utility-buttons {
  position: absolute;
  top: 0;
  left: 10px;
  height: 64px;
  display: flex;
  align-items: center;
}


@media screen
and (max-width: 480px)
and (orientation: portrait) {
  .utility-buttons {
    height: 56px;
  }
}

