<div class="cards">
  <mat-card class="challenge-card"
            *ngFor="let challenge of privateChallenges$ | async"
            (click)="openChallenge(challenge)">
    <mat-card-header>
      <mat-card-title>
        אתגר שאני הכנתי
      </mat-card-title>
      <mat-card-subtitle>ניתן לשתף</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         src="https://storage.googleapis.com/find-the-afikoman.appspot.com/images/{{challenge.uid}}/thumb@${{challenge.id}}.jpg"
         [alt]="challenge.description">
  </mat-card>

  <mat-card class="challenge-card"
            *ngFor="let challenge of challenges$ | async"
            (click)="openChallenge(challenge)">
    <mat-card-header>
      <mat-card-title>
        <span [ngSwitch]="challenge.level">
          <span *ngSwitchCase="1">קל</span>
          <span *ngSwitchCase="2">בינוני</span>
          <span *ngSwitchCase="3">קשה</span>
        </span>
      </mat-card-title>
      <mat-card-subtitle>{{ challenge.description }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         src="https://storage.googleapis.com/find-the-afikoman.appspot.com/images/{{challenge.uid}}/thumb@${{challenge.id}}.jpg"
         [alt]="challenge.description">
  </mat-card>
  <mat-card class="challenge-card"
            (click)="createChallenge()">
    <mat-card-header>
      <mat-card-title>
        צרו אתגר משלכם!
      </mat-card-title>
      <mat-card-subtitle>בחרו או צלמו תמונה והחביאו בה את האפיקומן</mat-card-subtitle>
    </mat-card-header>
    <p style="text-align: left;">
      <button mat-flat-button color="accent">קדימה!</button>
    </p>
  </mat-card>
</div>

<footer>
  <p>
    חומם בושל והוגש על ידי
    <a href="https://idancohen.com" target="_blank">עידן כהן</a>
  </p>
</footer>
