.challenge-card {
  flex: 0 1 400px;
  margin: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  margin-top: 20px;
  font-size: 90%;
  color: #979EA0;
  text-align: center;
}
a {
  color: #c2cbce !important;
}
