<h1 mat-dialog-title i18n>האתגר:</h1>
<div mat-dialog-content>
  <p>
    <img src="/assets/egg1.png" />
  </p>
  <p style="margin-bottom: 16px" i18n>מצאו בתמונה את האפיקומן ולחצו עליו</p>
  <p class="credit">
    <span i18n>צילום: </span>
    <a [href]="stopwatch.challenge.photoCreditUrl">{{ stopwatch.challenge.photoCredit }}</a>
  </p>
</div>
<div mat-dialog-actions>
  <p>
    <a mat-button [routerLink]="'/'" [mat-dialog-close]="" i18n>אתגרים נוספים</a>
    <button mat-flat-button [mat-dialog-close]="" color="primary" cdkFocusInitial i18n>קדימה!</button>
  </p>
</div>
