<ng-container *ngIf="challenge$ | async as challenge">
  <div style="display: none">
    <app-afikoman [challenge]="challenge"></app-afikoman>
  </div>
  <app-stopwatch [challenge]="challenge"></app-stopwatch>
</ng-container>
<div #viewer class="viewer"></div>
<div class="utility-buttons">
  <button mat-mini-fab (click)="onHint()" *ngIf="!(hintTicker$ | async)">רמז</button>
  <ng-container *ngIf="hintTicker$ | async as hintTicker">
    <button mat-mini-fab color="warn" class="tick-animation" [class.cold]="hintTicker === 'קר'">
      {{ hintTicker }}
    </button>
  </ng-container>
</div>
