<ng-container *ngIf="challenge$ | async as challenge">
</ng-container>
<div #viewer class="viewer"></div>
<div #afikoman class="afikoman">
  <img src="/assets/afikoman.jpeg" />
</div>

<div class="size-buttons">
  <button mat-mini-fab (click)="resize(-1)">
    <mat-icon>remove</mat-icon>
  </button>
  <button mat-mini-fab (click)="resize(1)">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="utility-buttons">
  <button mat-raised-button color="warn" [routerLink]="'/'">ביטול</button>
  <button mat-raised-button color="accent" (click)="onFinish()">סיימתי</button>
</div>
