/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Rubik, "Helvetica Neue", sans-serif; direction: rtl; }

mat-dialog-container, snack-bar-container {
  direction: rtl;
}

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Rubik, sans-serif',
);

@include angular-material-typography($custom-typography);
